/* 
color: #7082ba; */

/* Basic Resetting */
*, 
*:before, 
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	overflow-y: scroll;
	box-sizing: border-box;
}

body {
	color: #333;
   font-family: "Oswald,Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height: 1.4;
	background-color: #fff;
	font-size: 100%;

	/* background-color: #bdb9b9cb; */
}
/* General Styles */
h1, h2{
	line-height: 1.4;
	margin-bottom: 1em;
}
 h3, h4 {

 }
#navBar ul li a{
	font-size: 1.01rem;
	color: #575e5b;
	letter-spacing: .1rem;
	font-weight: 500;
}
.myNav-links {
	
}

/* Header & NavBar */
/* #nav-bar div .innerNav,
{
	display: flex;
	

} */
.nav-bar{
	background-color: #f9f9f9;

	/* background-color: #212529; */
	/* background-color: #00aaff; */
	/* color: #007acc; */
}

#navBar h1 a:hover,
#navBar ul li a:hover{
	color: #e2842c;
	transition: all .2s ease-in;
	text-decoration: none;
}
#navBar h1 a
#navBar ul li a {
	color: #575e5b;
}
.navBar-name{
	color: #575e5b;
	text-transform: uppercase;
	font-weight: 650;
	letter-spacing: .03rem;
}

.myNav-items{
	
}
.myNav-item{
	
}

/* Banner/ Blog Theme */
.blogTheme-title h2 {
	/* padding-left: 19rem; */
	

}
.blogTheme{
	background: rgb(235, 147, 147) url(https://bin.bnbstatic.com/static/images/blog/blog-inner-bg.jpg) no-repeat center;
    height: 224px;
	/* text-align: center; */
	font-size: 250%;
	font-weight: bold;
	/* line-height: 4.5rem; */
}




/*Blog Main Contents */
.blog-contents{
	margin-left: auto;
	margin-right: auto;
	max-width: 55rem;
	padding: .5rem .5rem; 
	background-color: #fff;
}

    /* border-left: 2px solid #e2842c;
    background-color: #f7f7f7; */

	     /* background-color: #291f16
		  color: #575e5b;
		  color: #c6c6c6;
		  color: ##83382b; */
/* 
		  @media only screen and (max-width: 1000px)
#searchString {
    width: 240px;
} */

/* #searchString {
    width: 283px;
    border: 0;
    box-shadow: 0 1px 2px rgb(0 0 0 / 20%) inset;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: .3em .6em;
    background-color: #f6f5ea;
    margin-right: 0;
}
input[type=text] {
    font-size: 100%;
    -webkit-appearance: none;
    border-radius: 0;
} */

/* Main Contents Buttons */



/* Side Bar */

/* Side Bar Buttons */



/* Footer */


